.gatsby-highlight-code-line {
  display: block;
  margin: 0 -2em;
  padding: 0 2em;
  background: var(--lineHighlight);
}

code[class*='language-'],
pre[class*='language-'] {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre {
  padding: 1.25em;
  margin: 0.5em 0 3em;
  overflow: auto;
  border-radius: 6px;
}

:not(pre) > code[class*='language-'],
pre {
  background: var(--code-background);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 3px 5px;
  border-radius: 2px;
  background: var(--inline-code-background);
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
    Courier, monospace;
  text-shadow: none;
  color: var(--inline-code-color);
}

.token.comment,
.token.prolog,
.token.block-comment,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

.token.property,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--primitive);
}

.token.boolean {
  color: var(--boolean);
}

.token.tag {
  color: var(--tag);
}

.token.string {
  color: var(--string);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.selector,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--char);
}

.token.function {
  color: var(--function);
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: var(--variable);
}

.token.attr-value {
  color: var(--string);
}

.token.keyword {
  color: var(--keyword);
}

.token.atrule,
.token.class-name {
  color: var(--className);
}

.token.important {
  font-weight: 400;
}

.token.bold {
  font-weight: 700;
}

.token.italic {
  font-style: 'italic';
}

.token.entity {
  cursor: 'help';
}

.namespace {
  opacity: 0.7;
}
