// $image-size: calc((100vw / 5) - 1em);
$image-size: 300px;
$description-size: 400px;

#content {
  display: flex;
  position: relative;
  align-items: center;

  .title {
    position: absolute;
    bottom: 2em;
    left: 90px;
    z-index: 0;

    h1 {
      font-size: 8rem;
      padding: 0;
      margin: 0;
      opacity: 0.05;
    }
  }

  .description {
    // flex: 1 0 $description-size;
    // width: $description-size;
    background: transparent;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;

    .caption {
      color: #333;
      white-space: pre-wrap;

      h6 {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: #2980b9;
      }
  
      h4 {
        margin-bottom: 6px;
        font-size: 20px;
      }
  
      p {
        font-size: 13px;
      }
    }
  
    .controls {
      display: flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      padding: 0;
  
      div,
      a {
        padding-right: 2em;
        text-transform: uppercase;
        letter-spacing: 0.2px;
      }
    }
  }


  ul {
    list-style: none;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    will-change: transform;
    transition: transform 300ms ease-out;

    a {
      text-decoration: none;
      border: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      display: flex;
      cursor: pointer;
      scroll-snap-align: start;
      scroll-snap-stop: always;

      &:hover img {
        filter: grayscale(0);
      }

      @for $i from 0 through 10 {
        &:nth-of-type(#{$i}) img {
          transition-delay: 200ms * $i;
        }
      }

      img {
        // filter: grayscale(1);
        transition: opacity 500ms ease-in-out, transform 600ms ease-out;
        transform: translateY(60px);
        opacity: 0;
      }

      .loaded {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}