:root {
  --primary: rgb(247, 235, 238);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  letter-spacing: 0.2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

hr {
  display: block;
  border: none;
  height: 1px;
  background: rgb(223, 224, 238);
  margin: 4em 30%;
  outline: none;
}

p > a,
li > a,
strong > a {
  padding: 2px;
  color: #0087ff;
  font-weight: 600;
  border-bottom: 1px solid #eee;
}

p > a:hover,
li > a:hover,
strong > a:hover {
  border-bottom: 1px solid #0087ff;
}

blockquote {
  background: #f4f4f7;
  padding: 0.5em 2em;
  margin: 0;
  margin-bottom: 2em;
  border-left: 2em solid #eeedf3;
}
