.imageGrid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 -0.5em;

  li {
    // flex: 0 0 calc(100% / 4);
    padding: 0.5em;
  }

  .image {
    max-width: 100%;

  }

  a {
    border: none;
    margin: 0;
    padding: 0;
  }
}